<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778847219019-prtvop4cfv0ga64jsvi0be7ut4m3u006.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778847219019-prtvop4cfv0ga64jsvi0be7ut4m3u006</string>
	<key>API_KEY</key>
	<string>AIzaSyB1esb2WV69Rs1ohviy9-hjEClUBZ79yFg</string>
	<key>GCM_SENDER_ID</key>
	<string>778847219019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTask</string>
	<key>PROJECT_ID</key>
	<string>flutter-task-19ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-task-19ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778847219019:ios:ae198ead5ecd2c5e01ccce</string>
</dict>
</plist>